@name Conditional

@use open ?? true

@bind click on "btn"

<template>
  <h1>That's a condition</h1>
  <button gk="btn">Toggle</button>
  <span>State is #{open ? "Open" : "Closed"}</span>
  <div gk-class="#{open ? 'open' : ''}" gk-style="#{!open ? 'display:none' : ''}">
    <p>Is this hidden?</p>
  </div>
</template>