@name Counter

@use init ?? 5
@use count ?? init
@use step ?? 1

@bind click on "btn"

<template>
  <button gk="btn">Click to increase by #{step}</button>
  <span>The counter is #{count}</span>
</template>